<!DOCTYPE html>
<html>
	<head>
		<title>APIEP - Test Form</title>
		<script type="text/javascript" src="JCode.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	</head>
	<body>
		<div>
			<h1>HPDF - T91NE1   ||   APIEP - Test Forms</h1>
			<fieldset>
				<legend>Signup | Username</legend>
				<br/>
			 	<form method="post" action="APIEP_Signup_Username">
					<input type="text" name="username" placeholder="username">
	    		<input type="text" name="password" placeholder="password">
					<input type="submit" value="Submit">
				</form>
				<pre><b>GET Request :</b> https://api.boat40.hasura-app.io/APIEP_Signup_Username/<b>&ltusername&gt</b>/<b>&ltpassword&gt</b></pre>
			</fieldset>
			<br/>
			<br/>
			<fieldset>
				<legend>Login | Username</legend>
				<br/>
			 	<form method="post" action="APIEP_Login_Username">
					<input type="text" name="username" placeholder="username">
	    		<input type="text" name="password" placeholder="password">
					<input type="submit" value="Submit">
				</form>
				<pre><b>GET Request :</b> https://api.boat40.hasura-app.io/APIEP_Login_Username/<b>&ltusername&gt</b>/<b>&ltpassword&gt</b></pre>
			</fieldset>
			<br/>
			<br/>
			<fieldset>
				<legend>Logout Form</legend>
				<br/>
			 	<form method="post" action="APIEP_Logout">
					<input type="text" name="auth" placeholder="auth_token">
					<input type="submit" value="Submit">
				</form>
				<pre><b>GET Request :</b> https://api.boat40.hasura-app.io/APIEP_Logout/<b>&ltauth_token&gt</b></pre>
			</fieldset>
			<br/>
			<br/>
			<h2>API calls requiring Loggedin auth_token<br/><span style="color:grey;font-size:20px;">(Will implement checking of auth token in extended idea)<span></h2>
			<fieldset>
				<legend>Likes Form</legend>
				<br/>
			 	<form method="post" action="APIEP_Likes">
					<input type="text" name="auth_token" placeholder="auth_token" disabled>
					<input type="text" name="like_user_id" placeholder="like_user_id">
	    		<input type="text" name="likeby_user_id" placeholder="likeby_user_id">
					<input type="submit" value="Submit">
				</form>
				<pre><b>GET Request :</b> https://api.boat40.hasura-app.io/APIEP_Likes/<b>&ltlike_user_id&gt</b>/<b>&ltlikeby_user_id&gt</b></pre>
			</fieldset>
	 </div>
	</body>
</html>
