<!DOCTYPE html>
<html>
	<head>
		<title>APIEP - Test Form</title>
		<script type="text/javascript" src="JCode.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	</head>
	<body>
		<div>
			<h1>HPDF - T91NE1   ||   APIEP - Test Form</h1>
			<br/>
		 	<form method="post" action="APIEP">
				<input type="text" name="name">
    		<input type="text" name="email">
				<input type="submit" value="Submit">
			</form>
	 </div>
	</body>
</html>
