<!DOCTYPE html>
<html>
	<head>
		<title>Image EJS</title>
	</head>
	<body>
		<h1>Rendering Image</h1>
		<image src="https://newcodepoet.files.wordpress.com/2013/02/y-u-no-code-well.png" alt="Why you no code.."/>
		<hr/>
		<button onclick="window.location='/'">Home</button>		
	</body>
</html>