<!DOCTYPE html>
<html>
	<head>
		<title>Tinder</title>
		<script type="text/javascript" src="FacebookSDK.js"></script>
	</head>
	<body>
		 <button onclick="checkLoginState()">Check</button>
		 <button onclick="Login()">Login</button>
		 <button onclick="getInfo()">Get Info</button>
	</body>
</html>
