<!DOCTYPE html>
<html>
	<head>
		<title>Input</title>
	</head>
	<body>
		<h2>Input Field & POST</h2>
		<form action="inputEndPoint" method="post">
			<input type="text" name="input" placeholder="Type your info..."></input>
			<input type="submit" value="Send!">
		</form>
		<hr/>
		<button onclick="window.location='/'">Home</button>
	</body>
</html>