<!DOCTYPE html>
<html>
	<head>
		<title>Tinder</title>
		<script type="text/javascript" src="FacebookSDK.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	</head>
	<body>
		<div>
			<h1>HPDF - T91NE1</h1>
			<br/>
			<h1>Tinder Clone -- LOGGED IN!</h1>
		 	<button onclick="Logout()">Logout</button>
	 </div>
	</body>
</html>
